# suggested files and folders gathered from distillery hexdocs
# https://hexdocs.pm/distillery/guides/working_with_docker.html

_build/
deps/
.git/
.gitignore
Dockerfile
Makefile
README*
test/
priv/static/
node_modules/
